/* Menu de navegación */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}

header {
    height: 15%;
    width: 100%;
    float: left;
    background:blue;
    padding: 3px 20px;
    color: #fff;
    position: fixed;
    z-index: 1000;

}

.brand-logo {
    max-width: 80px;
    float: right;
    padding: 8px 0px;

}

.brand-logo img {
    max-width: 100%;
    border-radius: 10px;
    border: solid 2px 6 #EEF5F7;
    box-shadow: 0 0 0 3px #EEF5F7;
}

.brand-logo img:hover {
    filter: opacity(.5);
}

.navigation {
    margin: 0px;
    float: left;
}

.navigation li {
    list-style: none;
    float: left;
}

.navigation li a {
    color: white;
    padding: 10px 10px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    text-decoration: none;

}

.navigation li a i {
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;


}

.show-menu-btn,
.hide-menu-btn {
    transition: 0.4s;
    font-size: 50px;
    cursor: pointer;
    display: none;
}

.show-menu-btn {
    margin: 0px;
    float: right;
}

.show-menu-btn i {
    line-height: 100px;
}

.navigation a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
    color: red;
    text-decoration: underline;
}

#toggle-btn {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

/*-- Responsive CSS --*/
@media screen and (min-width:320px) and (max-width: 1200px) {
  
    
    .show-menu-btn,
    .hide-menu-btn {
        display: block;
        
    }

    .navigation {
        position: fixed;
        width: 110%;
        height: auto;
        background: blue;
        top: -100%;
        left: 0;
        padding: 40px 0px;
        transition: 1s;
        
    }

    .navigation li {
        width: 100%;
    }

    .navigation li a {
        padding: 15px 15px;
        text-align: left;
    }

    .navigation li a i {
        width: auto;
        font-size: 20px;
    }

    .hide-menu-btn {
        position: absolute;
        top: 15px;
        right: 20px;
    }

    #toggle-btn:checked~nav .navigation {
        top: 0px;
    }

    .brand-logo {
        padding-top: 2px;
        max-width: 60px;
        float: left;
        padding: 8px 0px;

    }
    .titulosNavegador{
        padding-top: 2000px;
    }



}




/* Fin del menú de navegación */

/* Carrusel */

.slider {
    width: 70%;
    margin: auto;
    overflow: hidden;
    padding-top: 10%;
    padding-block-end: 5%;
}

.slider ul {
    display: hidden;
    padding: 5%;
    width: 800%;



}

.slider li {
    width: 50%;

}

.slider img {
    width: 50%;
    border-radius: 20px;
}

.slider h1 {

    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    padding-block-end: 5%;
}

@media screen and (min-width: 320px) and (max-width: 1080px) {
    .slider {
        padding-top: 30%;

    }

    .slider img {
        width: 100%;
        border-radius: 20px;
    }





}




/* Fin del carrusel */


/* Informacion del autor*/


.titulosNavegador {
    text-decoration: underline;
    padding-top: 8%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    margin-left: 2%;
}

.contenedorAcercaDe {
    padding-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.contenedorAcercaDe h2 {
    color: #bd9ef5;
    text-align: center;

}

.contenedorAcercaDe h3 {
    color: #bd9ef5;

}

.contenedorInfoAutor {
    padding-top: 5%;
    margin-left: 15%;
    margin-right: 2%;
    width: 70%;
    background-color: #EEF5F7
}

.contenedorInfoAutor #fotoMia {
    max-width: 500px;
    max-height: 500px;
    border-radius: 20px;
    margin-bottom: 4%;
    margin-top: 2%;
    display: flex;
    margin-left: 5%;

}

.contenedorInfoAutor h3 {
    color: #bd9ef5;
    margin-left: 5%;

}

.contenedorInfoAutor p {

    margin-left: 5%;

}

.contenedorInfoAutor .btn-mostrar {
    background-color: red;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    cursor: pointer;
    margin-left: 5%;
}

.contenedorInfoAutor .btn-ocultar {
    background-color: #bd9ef5;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    cursor: pointer;
    margin-left: 5%;
}

@media screen and (min-width: 320px) and (max-width: 1080px) {


    .contenedorInfoAutor #fotoMia {
        width: 200px;
        height: 200px;
        border-radius: 20px;
        margin-bottom: 4%;
        margin-top: 2%;
        display: flex;
        margin-left: 5%;

    }




}

/* Fin de Informacion del autor  */

/* Tablas de Geolocalizacion */
.lugar #lugar {
    color: #fff;
    background-color: #bd9ef5;
    margin-top: 50px;
    padding: 12px;
    border: solid;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

.lugar {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.lugar #CR {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #bd9ef5;
    margin-bottom: 2%;
    margin-top: 2%;
    border: solid 2px;
    border-spacing: 0;
}

.lugar #CR td {
    color: black;
    border: solid 2px #bd9ef5;

}

.lugar #CR th {
    color: #bd9ef5;
    border: solid 2px #bd9ef5;

}

/* Fin Tablas de Geolocalizacion */



/* Galeria de imagenes */
.galeria h3 {
    color: #000;
    text-decoration: underline;
    text-decoration-color: #4ca930;
    font-style: oblique;
    font-size: 40px;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;


}

.galeria {
    padding-top: 5%;

}

.galeria img {
    border-radius: 40px;
    border: #bd9ef5 3px ridge;
}

@media screen and (min-width: 320px) and (max-width: 1080px) {


    .galeria {
        justify-content: center;
    }




}




/* Fin de Galeria de imagenes */


/* Formulario contacto */
.contacto {

    border-radius: 15px;
    padding: 45px 45px 20px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0px 5px 10px white, 0 0 0 10px white inset;
    padding-top: 2%;
    width: 70%;
    background-color: #EEF5F7;
    margin-left: 15%;

}

.contacto label {
    display: block;
    font-weight: bold;
}

.contacto div {
    margin-bottom: 15px;

}

.contacto input[type='text'],
.contacto textarea {
    padding: 7px 6px;
    width: 294px;
    border: 1px solid #000;
    resize: none;
    box-shadow: 0 0 0 3px #EEF5F7;
    margin: 5px 0;
}

.contacto input[type='email'],
.contacto textarea {
    padding: 7px 6px;
    width: 294px;
    border: 1px solid #000;
    resize: none;
    box-shadow: 0 0 0 3px #EEF5F7;
    margin: 5px 0;
}

.contacto input[type='date'],
.contacto textarea {
    padding: 7px 6px;
    width: 200px;
    border: 1px solid #000;
    resize: none;
    box-shadow: 0 0 0 3px #EEF5F7;
    margin: 5px 0;
}

.contacto input[type='tel'],
.contacto textarea {
    padding: 7px 6px;
    width: 200px;
    border: 1px solid #000;
    resize: none;
    box-shadow: 0 0 0 3px #EEF5F7;
    margin: 5px 0;
}

.contacto input[type='radio'],
.contacto textarea {
    padding: 7px 6px;
    width: 10px;
    border: 1px solid #000;
    resize: none;
    box-shadow: 0 0 0 3px #EEF5F7;
    margin: 5px 0;
}

.contacto input[type='checkbox'],
.contacto textarea {
    padding: 7px 6px;
    width: 10px;
    border: 1px solid #000;
    resize: none;
    box-shadow: 0 0 0 3px #EEF5F7;
    margin: 5px 0;
}


.contacto input[type='text']:focus,
.contacto textarea:focus {
    outline: none;
    box-shadow: 0 0 0 3px #000;
}

.contacto input[type='button'] {
    border: 1px solid #000;
    box-shadow: 0 0 0 3px #bd9ef5;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px #bd9ef5;
    cursor: pointer;
    background: #000;
    background: -moz-linear-gradient(top, #bd9ef5 0%, #bd9ef5 100%);
    background: -webkit-linear-gradient(top, #bd9ef5 0%, #bd9ef5 100%);
}

.contacto input[type='button']:hover {
    background: #bd9ef5;
    background: -moz-linear-gradient(top, #7ac841 0%, #7ac841 100%);
    background: -webkit-linear-gradient(top, #7ac841 0%, #7ac841 100%);
}

.contacto input[type='button']:active {
    background: #bd9ef5;
    background: -moz-linear-gradient(top, #7ac841 0%, #7ac841 100%);
    background: -webkit-linear-gradient(top, #7ac841 100%, #7ac841 100%);
}

@media screen and (min-width: 320px) and (max-width: 1080px) {

    .contacto input[type='text'],
    .contacto textarea {
        padding: 7px 6px;
        width: 200px;
        border: 1px solid #000;
        resize: none;
        box-shadow: 0 0 0 3px #EEF5F7;
        margin: 5px 0;
    }

    .contacto input[type='email'],
    .contacto textarea {
        padding: 7px 6px;
        width: 200px;
        border: 1px solid #000;
        resize: none;
        box-shadow: 0 0 0 3px #EEF5F7;
        margin: 5px 0;
    }





}


/* Fin del formulario de contacto */

.contenedorAcercaDe {
    border-radius: 15px;
    padding: 45px 45px 20px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0px 5px 10px white, 0 0 0 10px white inset;
    padding-top: 2%;
    width: 70%;
    background-color: #EEF5F7;
    margin-left: 15%;


}


/* Pie de pagina */

footer {
    width: 100%;
    position: relative;
    bottom: 0%;
    left: 0;
    background: #fff;

}

footer .content {
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.contenedorFooter {
    padding-top: 2%;

}


footer .content p,
a {
    color: #fff;
}

footer .content .box {
    width: 33%;
    transition: all 0.4s ease;
}

footer .content .topic {
    font-size: 22px;
    font-weight: 600;
    color: black;
    font-weight: bold;
    margin-bottom: 16px;
}

footer .content p {
    text-align: justify;
}

footer .topic p {
    font-size: 30px;
}

footer .topic a {
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #fff;

}

footer .content .lower .topic {
    margin: 24px 0 5px 0;
}

footer .content .lower i {
    padding-right: 16px;
}

footer .content .middle {
    padding-left: 80px;
}

footer .content .middle a {
    line-height: 32px;
}




/* Fin del pie de pagina */


/* Geolocalización */
#map {
    height: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 90px;
    margin-right: 90px;
}

.btn-success {
    color: #fff;
    background-color: #fff;
    margin-top: 50px;
    padding: 12px;
    border: solid;
    font-size: 18px;
    cursor: pointer;
}

.contenedorLocaliazción {
    padding-left: 1.2%;
    padding-top: 1%;
}


/* Fin de la geolocalización */


/* Página de historia e importancia */

.contenidoHistoriaImportancia {
    padding-top: 2%;
    margin-left: 2%;
    margin-right: 2%;

}

.contenidoHistoriaImportancia p {

    text-align: justify;

}



.contenidoHistoriaImportancia h2 {
    color: #4ca930;
    text-align: center;
}

.contenidoHistoriaImportancia h3 {
    color: #bd9ef5;

}

.contenidoHistoriaImportancia #bold {
    font-weight: bold;
}

.contenidoHistoriaImportancia h4 {
    text-decoration: underline;
    font-size: 17px;
}

.contenidoHistoriaImportancia #tablaTallas {
    border: solid #bd9ef5;
    border-spacing: 2%;
    margin: auto;




}

.contenidoHistoriaImportancia #tablaTallas th {
    border: solid #bd9ef5 1px;
    color: #7ac841;



}


.contenidoHistoriaImportancia #tablaTallas td {
    border: solid #7ac841 1px;
    padding-left: 0.5%;

}

.contenidoHistoriaImportancia {

    padding-top: 5%;
    margin-left: 15%;
    margin-right: 2%;
    width: 70%;
    background-color: #EEF5F7;

}



@media screen and (min-width: 320px) and (max-width: 1080px) {

    .titulosNavegador {
        padding-top: 30%;

    }





}

/* Fin de página de historia e importancia */


/* Página multimedia */

.multimedia {
    padding-left: 10%;
    padding-top: 5%;
    padding-block-end: 5%;

}

.multimedia h3 {
    color: #000;
    text-decoration: underline;
    text-decoration-color: #fff;
    font-style: oblique;
    font-size: 20px;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 10px;
}

.multimedia #Video2 {
    width: 75%;
    border-radius: 20px;
    border: #fff 5px dashed;

}

.multimedia video {
    width: 50%;
    height: 20%;
    border-radius: 20px;
    border: #bd9ef5 5px dashed;

}

.multimedia audio {

    border-radius: 20px;
    border: #bd9ef5 5px dashed;
    

}

.multimedia {
    border-radius: 15px;
    padding: 45px 45px 20px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0px 5px 10px white, 0 0 0 10px white inset;
    padding-top: 2%;
    width: 70%;
    background-color: #EEF5F7;
    margin-left: 15%;

}

@media screen and (min-width: 320px) and (max-width: 1080px) {
    .multimedia {
        padding-left: 5%;

    }

    .multimedia #Video2 {
        width: 110%;
        border-radius: 20px;
        border: #bd9ef5 5px dashed;

    }

    .multimedia video {
        width: 70%;
        height: 20%;
        border-radius: 20px;
        border: #bd9ef5 5px dashed;
        margin-top: 20px;

    }

    .multimedia audio {
        width: 90%;
        border-radius: 20px;
        border: #bd9ef5 5px dashed;
        margin-top: 20px;
    }





}





/* Fin de página multimedia */
/* Redes */
.red {
    position: fixed;
    top: 200px;
    z-index: 100;
    right: 0;
}

#facebook a {
    background: #3b5998;
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;
    width: 55px;
    transition: all .4s ease;
}

#facebook a:hover {
    background: #000;
    padding: 10px 50px;
}

#instagram a {
    background: #FFB6C1;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    width: 55px;
    transition: all .4s ease;
}

#instagram a:hover {
    background: #000;
    padding: 10px 50px;
}

#correo a {
    background: #e95950;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    width: 55px;
    transition: all .4s ease;
}

#correo a:hover {
    background: #000;
    padding: 10px 50px;
}
#adjuntar a {
    background: black;
    padding: 100px 200px;
    color: #fff;
    text-decoration: none;
    width: 200px;
    height: 200px;
    transition: all .4s ease;
}

#adjuntar a:hover {
    background: blue;
    padding: 10px 50px;
}





/* Fin Redes */

@media screen and (min-width: 320px) and (max-width: 600px){
    

      .download-link {
        display: block;
        text-align: center;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        text-decoration: none;
        font-size: 16px;
        margin-top: 10px;
      }

      
}

@media only screen and (min-width: 1080px) {
    /* Estilos aplicados solo cuando el ancho de la pantalla es menor a 700px */
    .mostrar-en-movil {
      display: none; /* Muestra el elemento */
    }
   
    
    
  }

  @media only screen and (max-width:1080px) {
    .ocultar-en-movil {
        display: none; /* Muestra el elemento */
      }
      #adjuntar a{
        padding: 100px;
        width: 10px;
        height: 10px;

    }
    #clip{
        padding: 10px;
    }
  }